Repository openstack/bifrost: changes, and which Zuul jobs are due for each by the changed paths.
All: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Path conditions:
  bifrost-base: (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$) or (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$)
  bifrost-integration: (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$) or (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$)
  bifrost-integration-dhcp: (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$) or (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$)
  bifrost-integration-dhcp-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-dibipa-debian: (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$) or (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$)
  bifrost-integration-dibipa-debian-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-tinyipa: (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$) or (unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$)
  bifrost-integration-tinyipa-ubuntu-bionic: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-tinyipa-keystone-ubuntu-bionic: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-tinyipa-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-tinyipa-keystone-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-redfish-vmedia-uefi-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-cli-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-upgrade: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$, ^zuul.d/.*$
  bifrost-integration-dhcp-centos-7: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-dhcp-opensuse-423: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-dibipa-debian-centos-7: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-dibipa-debian-opensuse-423: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-tinyipa-centos-7: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-tinyipa-opensuse-423: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  bifrost-integration-tinyipa-fedora26: unless all of: ^.*\.rst$, ^bifrost/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$

Use python version to set DEFAULT_PIP_ANSIBLE
  scripts/env-setup.sh
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Add support for Ubuntu 24.04 image download
  playbooks/roles/bifrost-ironic-install/defaults/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

CI: Update previous release for upgrade jobs
  zuul.d/bifrost-jobs.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Remove workaround for installing Ussuri and older
  playbooks/roles/bifrost-ironic-install/defaults/main.yml
  playbooks/roles/bifrost-ironic-install/templates/ironic.conf.j2
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

[stable-only] CI: Remove SLURP upgrade job
  zuul.d/bifrost-jobs.yaml
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Fix leading and trailing whitespace in inspection_callback_url
  playbooks/roles/bifrost-ironic-install/tasks/create_tftpboot.yml
  releasenotes/notes/fix-whitespace-in-inspection-callback-3f450db7ae2c91d5.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Fix ansible linters
  doc/source/install/playbooks.rst
  scripts/env-setup.sh
  tools/ansible-lint.sh
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Fix typo in CLI parameter spefifying config drive.
  doc/source/user/howto.rst
Due: none

Update `uuid` to `id` in node_info to match module change
  playbooks/roles/bifrost-deploy-nodes-dynamic/tasks/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Remove ubuntu bionic support leftovers
  releasenotes/notes/remove-bionic-bits-dd1c5964462576c4.yaml
  requirements.txt
  zuul.d/bifrost-jobs.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

pip: Use SETUPTOOLS_USE_STDLIB if python < 3.12
  playbooks/roles/bifrost-pip-install/tasks/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Extending `hosts` to also accept new `target_hosts` variable
  playbooks/install.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

[2023.1-only]: CI: Remove upgrade jobs
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Update .gitreview for stable/2025.1
  .gitreview
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: none

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Switch to unmaintained/2023.1
  playbooks/roles/bifrost-create-vm-nodes/defaults/main.yml
  playbooks/roles/bifrost-ironic-install/defaults/main.yml
  playbooks/roles/bifrost-prep-for-install/defaults/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Add notes to provide more clarity for bifrost installation
  doc/source/install/index.rst
  doc/source/install/playbooks.rst
Due: none

doc: replace outdated release version with a latest one
  doc/source/install/index.rst
Due: none

Pin upper-constraints in CS9 jobs for Py3.9 compatibility
  scripts/install-deps.sh
  scripts/test-bifrost.sh
  upper-constraints-cs9-py39.txt
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Add support for downloading CentOS Stream 10 image
  playbooks/roles/bifrost-ironic-install/defaults/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Update ironic.conf.j2 template.
  playbooks/roles/bifrost-ironic-install/templates/ironic.conf.j2
  releasenotes/notes/fix-ironic-dhcplease-variable-86aa61377b1f74cf.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Fix Keystone after their migration from WSGI scripts
  playbooks/roles/bifrost-keystone-install/tasks/bootstrap.yml
  playbooks/roles/bifrost-keystone-install/templates/uwsgi-keystone.ini.j2
  releasenotes/notes/keystone-uwsgi-fix-cd7e95d1f1fa8768.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Fix python interpreter when installing in venv
  playbooks/roles/bifrost-pip-install/tasks/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Do not pass empty values to instance_info
  playbooks/roles/bifrost-deploy-nodes-dynamic/tasks/main.yml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Default ansible to version 10.x
  playbooks/install.yaml
  playbooks/library/network_metadata.py
  playbooks/library/os_ironic_node_info.py
  releasenotes/notes/ansible10-c1423fcbaa2df981.yaml
  scripts/env-setup.sh
  scripts/split_json.py
  tox.ini
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

bug: drop baremetal introspection mention
  doc/source/user/howto.rst
Due: none

Release note for ironic-inspector deprecation
  releasenotes/notes/inspector-deprecation-95bfec37ad284a88.yaml
Due: none

Replace CLA instructions with DCO
  CONTRIBUTING.rst
Due: none

Updated pinned upper-constraints for Python 3.9
  upper-constraints-cs9-py39.txt
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dhcp-ubuntu-focal, bifrost-integration-dibipa-debian, bifrost-integration-dibipa-debian-ubuntu-focal, bifrost-integration-tinyipa, bifrost-integration-tinyipa-ubuntu-bionic, bifrost-integration-tinyipa-keystone-ubuntu-bionic, bifrost-integration-tinyipa-ubuntu-focal, bifrost-integration-tinyipa-keystone-ubuntu-focal, bifrost-integration-redfish-vmedia-uefi-ubuntu-focal, bifrost-cli-ubuntu-focal, bifrost-upgrade, bifrost-upgrade-ubuntu-focal, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Move all CS9 jobs to non-voting
  doc/source/install/index.rst
  releasenotes/notes/cs9deprecation-cf13061ef2b2419a.yaml
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

Remove ancient Python 3.6 tox test
  tox.ini
Due: none

Clarify testenv and install usage order in testenv.rst
  doc/source/contributor/testenv.rst
  doc/source/user/troubleshooting.rst
Due: none

bug: drop --develop flag from testenv usage
  doc/source/contributor/testenv.rst
Due: none

Recover the CI
  doc/source/install/index.rst
  releasenotes/notes/bulseye-deprecated-e7a277abed63930a.yaml
  zuul.d/bifrost-jobs.yaml
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26

[2024.1 only] Drop upgrade jobs since 2023.2 brach doesn't exists
  zuul.d/project.yaml
Due: bifrost-base, bifrost-integration, bifrost-integration-dhcp, bifrost-integration-dibipa-debian, bifrost-integration-tinyipa, bifrost-integration-dhcp-centos-7, bifrost-integration-dhcp-opensuse-423, bifrost-integration-dibipa-debian-centos-7, bifrost-integration-dibipa-debian-opensuse-423, bifrost-integration-tinyipa-centos-7, bifrost-integration-tinyipa-opensuse-423, bifrost-integration-tinyipa-fedora26
